NODE_ENV=development
PORT=4000

DATABASE_URL="postgresql://localhost-user:user-password@localhost:5432/db-name?schema=public"

REDIS_URL="redis://localhost:6379"

# JWT Auth 
JWT_ACCESS_SECRET="development-access-secret-change-later"
JWT_REFRESH_SECRET="development-refresh-secret-change-later"

# Email
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465
EMAIL_SECURE=true
EMAIL_USER=your email address
EMAIL_PASSWORD=your two step password secrest
EMAIL_FROM="Synapse Workspace <your-email@gmail.com>"

# BullMQ
BULLMQ_EMAIL_QUEUE=email
BULLMQ_EMAIL_CONCURRENCY=5
BULLMQ_EMAIL_ATTEMPTS=5
BULLMQ_EMAIL_BACKOFF_MS=2000

# Crypto Encryption Key
ENCRYPTION_KEY=custom encryption key