NODE_ENV=development
PORT=4000

DATABASE_URL="postgresql://synapse:synapse@localhost:5432/synapse?schema=public"

REDIS_URL="redis://localhost:6379"

# JWT Auth 
JWT_ACCESS_SECRET="development-access-secret-change-later"
JWT_REFRESH_SECRET="development-refresh-secret-change-later"

# Email
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465
EMAIL_SECURE=true
EMAIL_USER=mine67890qwert@gmail.com
EMAIL_PASSWORD=eboo tfuf nine kesi
EMAIL_FROM="Synapse Workspace <your-email@gmail.com>"

# BullMQ
BULLMQ_EMAIL_QUEUE=email
BULLMQ_EMAIL_CONCURRENCY=5
BULLMQ_EMAIL_ATTEMPTS=5
BULLMQ_EMAIL_BACKOFF_MS=2000

# Crypto Encryption Key
ENCRYPTION_KEY=PLTMXRr3VjorotHmh/udDiPDSfbi9MFdAQn0fUP4DLs=